body {
  margin: 0;
  margin-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

footer p {
  color: #000000;
}

.container {
  margin-top: 4em;
}

#logo {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects-header {
  margin-top: 20px;
  margin-bottom: 20px;
}
